grant {
	permission java.io.FilePermission "/home/luis/Desktop/WA-CSD/csd/target/WA-1-jar-with-dependencies.jar","read";
	permission java.util.PropertyPermission "java.vendor.url","read";
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	permission java.lang.RuntimePermission "accessSystemModules";
	permission java.io.FilePermission "/usr/share/java/java-atk-wrapper.jar","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.defaultLogLevel","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.showLogName","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.showShortLogName","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.showDateTime","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.showThreadName","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.dateTimeFormat","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.levelInBrackets","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.warnLevelString","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.logFile","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.cacheOutputStream","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.server.endorser.BFTEndorser","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.server.endorser","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.server","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.util.TOMUtil","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.util","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart","read";
	permission java.security.SecurityPermission "getProperty.security.provider.1";
	permission java.security.SecurityPermission "getProperty.security.provider.2";
	permission java.security.SecurityPermission "getProperty.security.provider.3";
	permission java.security.SecurityPermission "getProperty.security.provider.4";
	permission java.security.SecurityPermission "getProperty.security.provider.5";
	permission java.security.SecurityPermission "getProperty.security.provider.6";
	permission java.security.SecurityPermission "getProperty.security.provider.7";
	permission java.security.SecurityPermission "getProperty.security.provider.8";
	permission java.security.SecurityPermission "getProperty.security.provider.9";
	permission java.security.SecurityPermission "getProperty.security.provider.10";
	permission java.security.SecurityPermission "getProperty.security.provider.11";
	permission java.security.SecurityPermission "getProperty.security.provider.12";
	permission java.security.SecurityPermission "getProperty.security.provider.13";
	permission java.security.SecurityPermission "getProperty.jdk.security.provider.preferred";
	permission java.util.PropertyPermission "jdk.security.legacyDSAKeyPairGenerator","read";
	permission java.util.PropertyPermission "java.security.egd","read";
	permission java.security.SecurityPermission "getProperty.securerandom.source";
	permission java.io.FilePermission "/dev/random","read";
	permission java.io.FilePermission "/dev/urandom","read";
	permission java.security.SecurityPermission "putProviderProperty.SUN";
	permission java.util.PropertyPermission "java.version","read";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
	permission java.lang.RuntimePermission "accessDeclaredMembers";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.ServiceReplica","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.reconfiguration.util.TOMConfiguration","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.reconfiguration.util","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.reconfiguration","read";
	permission java.util.PropertyPermission "file.separator","read";
	permission java.io.FilePermission "config/endorser/hosts.config","read";
	permission java.io.FilePermission "config/endorser/system.config","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.reconfiguration.ServerViewController","read";
	permission java.io.FilePermission "config/endorser","read";
	permission java.io.FilePermission "config/endorser/currentView","read";
	permission java.security.SecurityPermission "getProperty.jdk.serialFilter";
	permission java.lang.RuntimePermission "reflectionFactoryAccess";
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.reflect";
	permission java.lang.RuntimePermission "getProtectionDomain";
	permission java.util.PropertyPermission "java.net.preferIPv6Addresses","read";
	permission java.lang.RuntimePermission "loadLibrary.net";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/lib/libnet.so","read";
	permission java.util.PropertyPermission "impl.prefix","read";
	permission java.util.PropertyPermission "jdk.net.hosts.file","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.ServerCommunicationSystem","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.MessageHandler","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.server.ServersCommunicationLayer","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.server","read";
	permission java.io.FilePermission "config/keysSSL_TLS/EC_KeyPair_256.pkcs12","read";
	permission java.security.SecurityPermission "getProperty.keystore.type";
	permission java.security.SecurityPermission "getProperty.keystore.type.compat";
	permission java.util.PropertyPermission "sun.nio.cs.map","read";
	permission java.security.SecurityPermission "putProviderProperty.SunRsaSign";
	permission java.lang.RuntimePermission "getClassLoader";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.security.util";
	permission java.security.SecurityPermission "putProviderProperty.JdkSASL";
	permission java.security.SecurityPermission "putProviderProperty.SunJGSS";
	permission java.security.SecurityPermission "putProviderProperty.SunPCSC";
	permission java.lang.RuntimePermission "loadLibrary.sunec";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/lib/libsunec.so","read";
	permission java.security.SecurityPermission "putProviderProperty.SunEC";
	permission java.security.SecurityPermission "putProviderProperty.SunJSSE";
	permission java.security.SecurityPermission "putProviderProperty.SunJCE";
	permission java.security.SecurityPermission "getProperty.crypto.policy";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/conf/security/policy/unlimited","read";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/conf/security/policy/unlimited/default_local.policy","read";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/conf/security/policy/unlimited/default_US_export.policy","read";
	permission java.util.PropertyPermission "java.protocol.handler.pkgs","read";
	permission java.util.PropertyPermission "com.sun.security.preserveOldDCEncoding","read";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.security.x509";
	permission java.util.PropertyPermission "java.util.logging.config.class","read";
	permission java.util.PropertyPermission "java.util.logging.config.file","read";
	permission java.util.PropertyPermission "jdk.system.logger.level","read";
	permission java.security.SecurityPermission "getProperty.ssl.KeyManagerFactory.algorithm";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.security.pkcs";
	permission java.util.PropertyPermission "javax.net.debug","read";
	permission java.util.PropertyPermission "jdk.tls.client.cipherSuites","read";
	permission java.util.PropertyPermission "jdk.tls.server.cipherSuites","read";
	permission java.security.SecurityPermission "getProperty.jdk.tls.disabledAlgorithms";
	permission java.security.SecurityPermission "getProperty.jdk.disabled.namedCurves";
	permission java.security.SecurityPermission "getProperty.jdk.certpath.disabledAlgorithms";
	permission java.util.PropertyPermission "com.sun.net.ssl.enableECC","read";
	permission java.lang.RuntimePermission "createSecurityManager";
	permission java.security.SecurityPermission "getProperty.jdk.tls.keyLimits";
	permission java.util.PropertyPermission "jdk.security.defaultKeySize","read";
	permission java.util.PropertyPermission "jdk.tls.client.enableStatusRequestExtension","read";
	permission java.util.PropertyPermission "jdk.tls.server.enableStatusRequestExtension","read";
	permission java.util.PropertyPermission "javax.net.ssl.sessionCacheSize","read";
	permission java.util.PropertyPermission "os.name","read";
	permission java.lang.RuntimePermission "loadLibrary.extnet";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/lib/libextnet.so","read";
	permission java.net.SocketPermission "localhost:12031","listen,resolve";
	permission java.util.PropertyPermission "*","read,write";
	permission java.util.PropertyPermission "jdk.tls.allowLegacyResumption","read";
	permission java.util.PropertyPermission "jdk.tls.allowLegacyMasterSecret","read";
	permission java.util.PropertyPermission "jdk.tls.client.useCompatibilityMode","read";
	permission java.util.PropertyPermission "jdk.tls.acknowledgeCloseNotify","read";
	permission java.util.PropertyPermission "jdk.tls.maxHandshakeMessageSize","read";
	permission java.util.PropertyPermission "jdk.tls.maxCertificateChainLength","read";
	permission java.util.PropertyPermission "jdk.tls.useExtendedMasterSecret","read";
	permission java.util.PropertyPermission "jdk.tls.server.SignatureSchemes","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.server.ServerConnection","read";
	permission java.util.PropertyPermission "com.sun.net.ssl.requireCloseNotify","read";
	permission java.util.PropertyPermission "jdk.tls.trustNameService","read";
	permission java.util.PropertyPermission "jdk.tls.client.SignatureSchemes","read";
	permission java.util.PropertyPermission "jsse.SSLEngine.acceptLargeFragments","read";
	permission java.net.SocketPermission "127.0.0.1:12001","connect,resolve";
	permission java.io.FilePermission "/etc/java-11-openjdk/net.properties","read";
	permission java.util.PropertyPermission "java.net.useSystemProxies","read";
	permission java.net.NetPermission "getProxySelector";
	permission java.util.PropertyPermission "socksProxyHost","read";
	permission java.util.PropertyPermission "jdk.includeInExceptions","read";
	permission java.security.SecurityPermission "getProperty.jdk.includeInExceptions";
	permission java.net.SocketPermission "127.0.0.1:12011","connect,resolve";
	permission java.net.SocketPermission "127.0.0.1:12021","connect,resolve";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.logging.InternalLoggerFactory","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.logging","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.InternalThreadLocalMap","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.SystemPropertyUtil","read";
	permission java.util.PropertyPermission "io.netty.threadLocalMap.stringBuilder.initialSize","read";
	permission java.util.PropertyPermission "io.netty.threadLocalMap.stringBuilder.maxSize","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.client.netty.NettyClientServerCommunicationSystemServerSide","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.client.netty","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.communication.client","read";
	permission java.util.PropertyPermission "sun.security.rsa.restrictRSAExponent","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.MultithreadEventLoopGroup","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel","read";
	permission java.util.PropertyPermission "io.netty.availableProcessors","read";
	permission java.util.PropertyPermission "io.netty.eventLoopThreads","read";
	permission java.util.PropertyPermission "java.nio.channels.spi.SelectorProvider","read";
	permission java.lang.RuntimePermission "selectorProvider";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.concurrent.DefaultPromise","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.concurrent","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.concurrent.DefaultPromise.rejectedExecution","read";
	permission java.util.PropertyPermission "io.netty.defaultPromise.maxListenerStackDepth","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.concurrent.AbstractEventExecutor","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.concurrent.GlobalEventExecutor","read";
	permission java.util.PropertyPermission "line.separator","read";
	permission java.util.PropertyPermission "io.netty.eventexecutor.maxPendingTasks","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.concurrent.SingleThreadEventExecutor","read";
	permission java.util.PropertyPermission "io.netty.eventLoop.maxPendingTasks","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.nio.NioEventLoop","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.nio","read";
	permission java.util.PropertyPermission "io.netty.noKeySetOptimization","read";
	permission java.util.PropertyPermission "sun.nio.ch.bugLevel","read";
	permission java.util.PropertyPermission "sun.nio.ch.bugLevel","write";
	permission java.util.PropertyPermission "io.netty.selectorAutoRebuildThreshold","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.PlatformDependent","read";
	permission java.util.PropertyPermission "java.vm.name","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.PlatformDependent0","read";
	permission java.util.PropertyPermission "io.netty.noUnsafe","read";
	permission java.util.PropertyPermission "io.netty.tryUnsafe","read";
	permission java.util.PropertyPermission "org.jboss.netty.tryUnsafe","read";
	permission java.util.PropertyPermission "java.specification.version","read";
	permission java.util.PropertyPermission "io.netty.tryReflectionSetAccessible","read";
	permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.misc";
	permission java.util.PropertyPermission "sun.reflect.debugModuleAccessChecks","read";
	permission java.lang.RuntimePermission "loadLibrary.management";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/lib/libmanagement.so","read";
	permission java.lang.RuntimePermission "loadLibrary.management_ext";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/lib/libmanagement_ext.so","read";
	permission java.lang.RuntimePermission "sun.management.spi.PlatformMBeanProvider.subclass";
	permission java.lang.management.ManagementPermission "monitor";
	permission java.util.PropertyPermission "io.netty.tmpdir","read";
	permission java.util.PropertyPermission "java.io.tmpdir","read";
	permission java.io.FilePermission "/tmp","read";
	permission java.util.PropertyPermission "io.netty.bitMode","read";
	permission java.util.PropertyPermission "sun.arch.data.model","read";
	permission java.util.PropertyPermission "os.arch","read";
	permission java.util.PropertyPermission "io.netty.maxDirectMemory","read";
	permission java.util.PropertyPermission "io.netty.uninitializedArrayAllocationThreshold","read";
	permission java.util.PropertyPermission "user.name","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.CleanerJava9","read";
	permission java.util.PropertyPermission "io.netty.noPreferDirect","read";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.nio.ch";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.bootstrap.ServerBootstrap","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.bootstrap","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.ChannelInitializer","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.AbstractChannel","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.nio.AbstractNioChannel","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.socket.nio.NioServerSocketChannel","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.socket.nio","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.socket","read";
	permission java.util.PropertyPermission "jdk.net.useFastTcpLoopback","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.DefaultChannelId","read";
	permission java.util.PropertyPermission "io.netty.processId","read";
	permission java.net.SocketPermission "luis-X541UJ","resolve";
	permission java.security.SecurityPermission "getProperty.networkaddress.cache.ttl";
	permission java.util.PropertyPermission "sun.net.inetaddr.ttl","read";
	permission java.security.SecurityPermission "getProperty.networkaddress.cache.negative.ttl";
	permission java.util.PropertyPermission "io.netty.machineId","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.internal.MacAddressUtil","read";
	permission java.util.PropertyPermission "java.net.preferIPv4Stack","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.NetUtil","read";
	permission java.net.NetPermission "getNetworkInformation";
	permission java.io.FilePermission "/proc/sys/net/core/somaxconn","read";
	permission java.util.PropertyPermission "io.netty.transport.outboundBufferEntrySizeOverhead","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.ChannelOutboundBuffer","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.DefaultChannelPipeline","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.util.ResourceLeakDetector","read";
	permission java.util.PropertyPermission "io.netty.noResourceLeakDetection","read";
	permission java.util.PropertyPermission "io.netty.leakDetectionLevel","read";
	permission java.util.PropertyPermission "io.netty.leakDetection.level","read";
	permission java.util.PropertyPermission "io.netty.leakDetection.targetRecords","read";
	permission java.util.PropertyPermission "io.netty.leakDetection.samplingInterval","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.channel.AbstractChannelHandlerContext","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.buffer.ByteBufUtil","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.buffer","read";
	permission java.util.PropertyPermission "io.netty.allocator.type","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.io.netty.buffer.PooledByteBufAllocator","read";
	permission java.util.PropertyPermission "io.netty.allocator.pageSize","read";
	permission java.util.PropertyPermission "io.netty.allocator.maxOrder","read";
	permission java.util.PropertyPermission "io.netty.allocator.numHeapArenas","read";
	permission java.util.PropertyPermission "io.netty.allocator.numDirectArenas","read";
	permission java.util.PropertyPermission "io.netty.allocator.tinyCacheSize","read";
	permission java.util.PropertyPermission "io.netty.allocator.smallCacheSize","read";
	permission java.util.PropertyPermission "io.netty.allocator.normalCacheSize","read";
	permission java.util.PropertyPermission "io.netty.allocator.maxCachedBufferCapacity","read";
	permission java.util.PropertyPermission "io.netty.allocator.cacheTrimInterval","read";
	permission java.util.PropertyPermission "io.netty.allocator.useCacheForAllThreads","read";
	permission java.util.PropertyPermission "io.netty.allocator.directMemoryCacheAlignment","read";
	permission java.util.PropertyPermission "io.netty.allocator.maxCachedByteBuffersPerChunk","read";
	permission java.util.PropertyPermission "io.netty.threadLocalDirectBufferSize","read";
	permission java.util.PropertyPermission "io.netty.maxThreadLocalCharBufferSize","read";
	permission java.util.PropertyPermission "jdk.proxy.debug","read";
	permission java.util.PropertyPermission "jdk.proxy.ProxyGenerator.saveGeneratedFiles","read";
	permission java.net.SocketPermission "localhost:12030","listen,resolve";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.consensus.roles.Acceptor","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.consensus.roles","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.consensus","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.core.ExecutionManager","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.core","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.core.TOMLayer","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.util.BatchBuilder","read";
	permission java.util.PropertyPermission "java.util.concurrent.ForkJoinPool.common.maximumSpares","read";
	permission java.util.PropertyPermission "java.util.concurrent.ForkJoinPool.common.parallelism","read";
	permission java.util.PropertyPermission "java.util.concurrent.ForkJoinPool.common.threadFactory","read";
	permission java.util.PropertyPermission "java.util.concurrent.ForkJoinPool.common.exceptionHandler","read";
	permission java.lang.RuntimePermission "modifyThread";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.leaderchange.RequestsTimer","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.leaderchange","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.core.DeliveryThread","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.statemanagement.standard.StandardStateManager","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.statemanagement.standard","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.statemanagement","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.clientsmanagement.ClientsManager","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.clientsmanagement","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.core.Synchronizer","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.leaderchange.LCManager","read";
	permission java.lang.RuntimePermission "shutdownHooks";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.server.defaultservices.StateLog","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.server.defaultservices","read";
	permission java.util.PropertyPermission "org.slf4j.simpleLogger.log.bftsmart.tom.server","read";
	permission java.util.PropertyPermission "sun.io.serialization.extendedDebugInfo","read";
	permission java.lang.RuntimePermission "readFileDescriptor";
	permission java.lang.RuntimePermission "writeFileDescriptor";
	permission java.util.PropertyPermission "sun.security.ssl.allowUnsafeRenegotiation","read";
	permission java.util.PropertyPermission "sun.security.ssl.allowLegacyHelloMessages","read";
	permission java.util.PropertyPermission "jdk.tls.allowUnsafeServerCertChange","read";
	permission java.util.PropertyPermission "jsse.enableFFDHE","read";
	permission java.util.PropertyPermission "jdk.tls.namedGroups","read";
	permission java.security.SecurityPermission "getProperty.jdk.tls.server.defaultDHEParameters";
	permission java.util.PropertyPermission "jsse.enableSNIExtension","read";
	permission java.util.PropertyPermission "jsse.enableMFLNExtension","read";
	permission java.util.PropertyPermission "jsse.enableMFLExtension","read";
	permission java.util.PropertyPermission "jsse.enableCBCProtection","read";
	permission java.security.SecurityPermission "putProviderProperty.XMLDSig";
	permission java.security.SecurityPermission "putProviderProperty.SunSASL";
	permission java.security.SecurityPermission "putProviderProperty.JdkLDAP";
	permission java.util.PropertyPermission "jdk.tls.ephemeralDHKeySize","read";
	permission java.io.FilePermission "/usr/lib/jvm/java-11-openjdk-amd64/lib/security/blacklisted.certs","read";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.security.util.math";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.security.util.math.intpoly";
	permission java.lang.RuntimePermission "accessClassInPackage.sun.security.jca";
	permission java.io.FilePermission "src/server/endorser/contracts_0.json","read,write";
	permission java.io.FilePermission "src/server/endorser/contracts_1.json","read,write";
	permission java.io.FilePermission "src/server/endorser/contracts_2.json","read,write";
	permission java.io.FilePermission "src/server/endorser/contracts_3.json","read,write";
	permission java.net.SocketPermission "*:*","accept,listen,resolve";
};
